*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-cinza-claro:#434343;
    --cor-ciza-escuro:#5B5858;
    --cor-branco:#FBFAE8;
    --fonte:'Roboto',sans-serif;
}

html{
  font-size: 62.5%; /* 10px */
}

body{
    font-family: var(--fonte);
    color:var(--cor-fonte);
    font-size: 1.6rem;
}
img{
    max-width: 100px;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    width: 85%;
}

header{
    background: radial-gradient(100% 100% at 50% 0%, #9E9999 0%, rgba(94, 92, 92, 0.44) 100%);
border-radius: 20px;
height: 150px;

}
header .logo{
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    align-items: center;

}
header .logo-alt{
    display: none;
}

header .menu-principal{
  width: 80%;
}

header .menu-principal > ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.8rem;
    text-transform: uppercase;
}

header .menu-principal a{
    color:var(--cor-fonte);
    text-decoration: none;
    font-weight: bold;
    padding:.5rem;
}

header .menu-principal a:hover{
    color:var(--cor-branco);
    border-bottom:.7rem solid var(--cor-branco);
}

